.calendar_container {
    width: calc(100% - 30px);
    display: grid;
    grid-template-rows: 3em 3em auto;
    position: absolute;
    overflow-y: auto;
    height: calc(100vh - 5rem);
}

    .calendar_container > .title {
        background: #217346;
        text-align: center;
        display: grid;
        place-content: center;
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
    }

        .calendar_container > .title .side_options {
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
        }

    .calendar_container .row {
        display: unset;
        flex-wrap: unset;
        margin-right: unset;
        margin-left: unset;
    }
